
    <h1>Invitation to Sign Up</h1>
    <p>Hello,</p>
    <p>You have been invited to sign up for our application. Please click the link below to complete your registration:</p>
    <p><a href="<%= @url %>">Sign Up</a></p>
    <p>Thank you!</p>
